export const wasm_path = {
  core: "/home/andrey/Documents/Code/AngelProtocol/cosmos-smart-contracts/artifacts",
  junoswap:
    "/home/andrey/Documents/Code/AngelProtocol/cosmos-test-suite/src/artifacts/junoswap",
  cw20: "/home/andrey/Documents/Code/AngelProtocol/cosmos-test-suite/src/artifacts/subdao_cw20_token.wasm",
  loopswap:
    "/home/andrey/Documents/Code/AngelProtocol/cosmos-test-suite/src/artifacts/loopswap",
  astroport:
    "/home/andrey/Documents/Code/AngelProtocol/cosmos-test-suite/src/artifacts/astroport",
  mock_vault: "/home/andrey/Documents/Code/AngelProtocol/cosmos-test-suite/src/mock-vault/artifacts",
  cosmwasm: "/home/andrey/Documents/Code/AngelProtocol/cosmos-test-suite/src/artifacts/cosmwasm",
};
