// ---------------------------------------------------------------------------------------------------
// LocalTerra information
// ---------------------------------------------------------------------------------------------------
export const localterra = {
  networkInfo: {
    url: "http://localhost:1307",
    chainId: "localterra",
    walletPrefix: "terra",
    nativeToken: "uluna",
    gasPrice: "0.01uluna",
  },

  mnemonicKeys: {
    validator: 'satisfy adjust timber high purchase tuition stool faith fine install that you unaware feed domain license impose boss human eager hat rent enjoy dawn',
    test1: 'notice oak worry limit wrap speak medal online prefer cluster roof addict wrist behave treat actual wasp year salad speed social layer crew genius',
    test2: 'quality vacuum heart guard buzz spike sight swarm shove special gym robust assume sudden deposit grid alcohol choice devote leader tilt noodle tide penalty',
    test3: 'symbol force gallery make bulk round subway violin worry mixture penalty kingdom boring survey tool fringe patrol sausage hard admit remember broken alien absorb',
    test4: 'bounce success option birth apple portion aunt rural episode solution hockey pencil lend session cause hedgehog slender journey system canvas decorate razor catch empty',
    test5: 'second render cat sing soup reward cluster island bench diet lumber grocery repeat balcony perfect diesel stumble piano distance caught occur example ozone loyal',
    test6: 'spatial forest elevator battle also spoon fun skirt flight initial nasty transfer glory palm drama gossip remove fan joke shove label dune debate quick',
    test7: 'noble width taxi input there patrol clown public spell aunt wish punch moment will misery eight excess arena pen turtle minimum grain vague inmate',
    test8: 'cream sport mango believe inhale text fish rely elegant below earth april wall rug ritual blossom cherry detail length blind digital proof identify ride',
    test9: 'index light average senior silent limit usual local involve delay update rack cause inmate wall render magnet common feature laundry exact casual resource hundred',
    test10: 'prefer forget visit mistake mixture feel eyebrow autumn shop pair address airport diesel street pass vague innocent poem method awful require hurry unhappy shoulder',
  },

  denoms: {
    usdc: "ibc/B3504E092456BA618CC28AC671A71FB08C6CA0FD0BE7C8A5B5A3E2DD933CC9E4",
    usdt: "ibc/CBF67A2BCF6CAE343FDF251E510C8E18C361FC02B23430C121116E0811835DEF",
  },

  // Should be updated contract addresses after deploying wasms in the LocalTerra
  contracts: {
    vaultLocked1: "",
    vaultLiquid1: "",
    vaultLocked2: "",
    vaultLiquid2: "",
  },

  // Astroport contracts
  astroport: {
    astroport_token_code: 11,
    astroport_pair_code: 12,

    ASTRO_token_contract: "",
    initial_ASTRO_supply: "1000000000000000",

    astroport_factory: "",
    astroport_generator: "",
    astroport_router: "",

    usdc_usdt_pair_contract: "",
    usdc_usdt_pair_lp_token: "",
    usdc_usdt_pair_usdc_liquidity: "100000000000",
    usdc_usdt_pair_usdt_liquidity: "100000000000",

    luna_astro_pair_contract: "",
    luna_astro_pair_lp_token: "",

    luna_usdc_pair_contract: "",
    luna_usdc_pair_lp_token: "",

    luna_usdt_pair_contract: "",
    luna_usdt_pair_lp_token: "",

    astro_usdc_pair_contract: "",
    astro_usdc_pair_lp_token: "",
  },
};