// ---------------------------------------------------------------------------------------------------
// LocalJuno information
// ---------------------------------------------------------------------------------------------------
export const localjuno = {
  // LocalJuno
  networkInfo: {
    url: "localhost:26657",
    chainId: "localjuno",
  },

  mnemonicKeys: {
    apTeam: "",
    apTeam2: "",
    apTeam3: "",
    apTreasury: "",
    charity1: "",
    charity2: "",
    charity3: "",
    pleb: "",
    tca: "",
  },

  // Should be updated contract addresses after deploying wasms in the LocalJuno
  contracts: {
    registrar: "",
    indexFund: "",
    endowmentContract1: "",
    endowmentContract2: "",
    endowmentContract3: "",
    endowmentContract4: "",
    cw4GrpApTeam: "",
    cw3ApTeam: "",
    cw4GrpOwners: "",
    cw3GuardianAngels: "",
    cw3MultiSig: "",
    cw4Grp: "",
  },

  // JunoSwap contracts
  junoswap: {
    junoswap_token_code: 0,
    junoswap_factory: "",
    halo_token_contract: "",
    halo_ust_pair_contract: "",
    halo_ust_pair_lp_token: "",
    initial_halo_supply: "1000000000000000",
    halo_liquidity: "20000000000000",
    native_liquidity: "1000000000000",
  },

  // HALO support contracts
  halo: {
    airdrop_contract: "",
    collector_contract: "",
    community_contract: "",
    distributor_contract: "",
    gov_contract: "",
    gov_holder: "",
    staking_contract: "",
    vesting_contract: "",
  },
};