export const wasm_path = {
  core: "/home/andrey/Documents/Code/AngelProtocol/angelprotocol-smart-contracts/artifacts",
  junoswap:
    "/home/andrey/Documents/Code/AngelProtocol/angelprotocol-test-suite/src/artifacts/junoswap",
  loopswap:
    "/home/andrey/Documents/Code/AngelProtocol/angelprotocol-test-suite/src/artifacts/loopswap",
  astroport:
    "/home/andrey/Documents/Code/AngelProtocol/angelprotocol-test-suite/src/artifacts/astroport",
  mock_vault: "/home/andrey/Documents/Code/AngelProtocol/angelprotocol-test-suite/src/mock-vault/artifacts"
};
